.swiper {
    height: 90vh;
}

.swiper-pagination span {
    background: var(--red);
}

.MovieFeatured img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    opacity: .7;
}

.MovieFeatured a {
    z-index: 1;
    position: absolute;
    top: 90%;
    left: 95%;
    color: var(--white);
    font-size: 2rem;
    opacity: .8;
}