.MoviesSort form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-left {
    display: flex;
    align-items: start;
    gap: 2rem;
}

.form-left select, .form-right input {
    margin-bottom: 1em;
    padding: .25em;
    background: var(--dark-grey);
    border: none;
    border-bottom: 2px solid var(--red);
    color: var(--white);
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    opacity: .8;

    &:focus,
    &:active {
        outline: 0;
    }
}

.form-right input::placeholder {
    color: var(--white);
    opacity: .8;
}