@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --light: #ffffff;
  --dark: #141414;
  --light-dark: #383737;
  --red: #e50101;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--dark);
  font-family: "Montserrat";
}

header {
  position: sticky;
  top: 0;
  left: -50%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header ul {
  border: 1px solid var(--light-dark);
  border-radius: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
}

header li:nth-last-child(1) {
  background: var(--red);
  border-radius: .5rem;
  padding: .5rem;
}

header a {
  color: var(--light);
  text-decoration: none;
}

header a.isActive {
  background: var(--light-dark);
  border-radius: .5rem;
  padding: .5rem;
}