@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #ffffff;
  --dark-grey: #19181c;
  --light-grey: #1c1d21;
  --red: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--dark-grey);
  font-family: "Montserrat";
}